@model RegistrationRequestsDto
<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 200px;
        "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong bg-body-tertiary" style="margin-top: -100px;backdrop-filter: blur(30px);">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Register</h2>
                    <form method="post">
                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input asp-for="Email" class="form-control" id="form3Example3" placeholder="Email..." />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <!-- Name input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input asp-for="Name" class="form-control" id="form3Example4" placeholder="Name..." />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <!-- PhoneNumber input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input asp-for="PhoneNumber" class="form-control" id="form3Example4" placeholder="Phone Number..." />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input asp-for="Password" class="form-control" id="form3Example4" placeholder="Password..." />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <!-- Role input -->
                        <div class="col form-outline mb-4">
                            <select asp-for="Role" class="form-select" asp-items="@ViewBag.RoleList">
                                <option disabled selected>--Select Role--</option>
                            </select>
                            
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                            <label class="form-check-label" for="form2Example33">
                                Subscribe to our newsletter
                            </label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="form-control btn btn-success mb-4" value="Submit">Register</button>

                        <!-- Register buttons -->
                        <div class="text-center">
                            <p>or sign up with:</p>
                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-github"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}